@font-face {
	font-family: "Pretendard";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2")
		format("woff2");
	font-weight: 100;
	font-display: swap;
}

@font-face {
	font-family: "Pretendard";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2")
		format("woff2");
	font-weight: 200;
	font-display: swap;
}

@font-face {
	font-family: "Pretendard";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2")
		format("woff2");
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: "Pretendard";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2")
		format("woff2");
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "Pretendard";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2")
		format("woff2");
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: "Pretendard";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2")
		format("woff2");
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: "Pretendard";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2")
		format("woff2");
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: "Pretendard";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2")
		format("woff2");
	font-weight: 800;
	font-display: swap;
}

@font-face {
	font-family: "Pretendard";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2")
		format("woff2");
	font-weight: 900;
	font-display: swap;
}

body {
	font-family: "Pretendard", sans-serif;
}

// app global css in SCSS form
.required {
	position: relative;
	&::after {
		content: "*";
		color: red;
		display: block;
		position: absolute;
		right: 8px;
		pointer-events: none;
		font-size: 1.25em;
	}
}

// 폼필드 에러메시지 이동
.q-field {
	padding-bottom: 0px;
	&.q-field-error {
		.q-field__append {
			padding-left: 0px;
		}
	}
	.mdi-alert-circle {
		display: none;
	}
}

.q-field__bottom {
	.q-field__messages {
		position: absolute;
		top: -16px;
		right: 8px;
		pointer-events: none;
	}
}

.fw100 {
	font-weight: 100;
}
.fw200 {
	font-weight: 200;
}
.fw300 {
	font-weight: 300;
}
.fw400 {
	font-weight: 400;
}
.fw500 {
	font-weight: 500;
}
.fw600 {
	font-weight: 600;
}
.fw700 {
	font-weight: 700;
}
.fw800 {
	font-weight: 800;
}
.fw900 {
	font-weight: 900;
}
